---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
// import ByNumber from "./ByNumber.astro";
---

<section class="relative pt-32 lg:pt-36">
  <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
    <!-- <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span> -->
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
      >
        Blu &mdash; <span
          class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"
          >Splash</span
        > Engineering Ltd
      </h1>
      <Paragraph className="mt-8">
        Blu-Splash Engineering Limited aims to deliver innovative and
        sustainable solutions to meet the growing demands of Zambia's
        infrastructure development and industrial growth.
      </Paragraph>
      <div class="mt-10 w-full flex max-w-md mx-auto lg:mx-0">
        <div class="flex sm:flex-row flex-col gap-5 w-full">
          <form
            action="#"
            class="py-1 pl-6 w-full pr-1 flex gap-3 items-center text-heading-3 shadow-lg shadow-box-shadow
                      border border-box-border bg-box-bg rounded-full ease-linear focus-within:bg-body focus-within:border-primary"
          >
            <span class="min-w-max pr-2 border-r border-box-border">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z"
                ></path>
              </svg>
            </span>
            <input
              type="email"
              name=""
              id=""
              placeholder="name@example.com"
              class="w-full py-3 outline-none bg-transparent"
            />
            <Button variant={"primary"} className={"min-w-max text-white"}>
              <span class="hidden sm:flex relative z-[5]"> Get Started </span>
              <span class="flex sm:hidden relative z-[5]">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
                  ></path>
                </svg>
              </span>
            </Button>
          </form>
        </div>
      </div>
    </div>

    <div
      id="carouselDarkVariant"
      class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
      data-twe-carousel-init
      data-twe-ride="carousel"
    >
      <!-- Carousel items -->
      <div
        class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
      >
        <!-- First item -->
        <div
          class="float-left -mr-[100%] w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-twe-carousel-fade
          data-twe-carousel-item
          data-twe-carousel-active
        >
          <img
            src="images/auto.jpeg"
            class="block w-full block w-full lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
            alt="slide image"
            width="2350"
            height="2359"
          />
        </div>
        <!-- Second item -->
        <div
          class="float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-twe-carousel-fade
          data-twe-carousel-item
        >
          <img
            src="images/hdpee.jpg"
            class="block w-full block w-full lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
            alt="slider image"
            width="2350"
            height="2359"
          />
        </div>
        <!-- Third item -->
        <div
          class="float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-twe-carousel-fade
          data-twe-carousel-item
        >
          <img
            src="images/slideOne.jpeg"
            class="block w-full block w-full lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
            alt="slider image"
            width="2350"
            height="2359"
          />
        </div>
        <div
          class="float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-twe-carousel-fade
          data-twe-carousel-item
        >
          <img
            src="images/productone.webp"
            class="block w-full block w-full lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
            alt="slider image"
            width="2350"
            height="2359"
          />
        </div>
        <!-- Fourth item -->
        <div
          class="float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-twe-carousel-fade
          data-twe-carousel-item
        >
          <img
            src="images/drainage-pipes.jpg"
            class="block w-full block w-full lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
            alt="drainage pipes"
            width="2350"
            height="2359"
          />
        </div>
        <!-- Fith item -->
        <div
          class="float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-twe-carousel-fade
          data-twe-carousel-item
        >
          <img
            src="images/sola.jpg"
            class="block w-full block w-full lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
            alt="solar energy"
            width="2350"
            height="2359"
          />
        </div>
      </div>

      <!-- <ByNumber /> -->
    </div>

    <script>
      // Initialization for ES Users
      import { Carousel, initTWE } from "tw-elements";

      initTWE({ Carousel });
    </script>
  </Container>
</section>
